@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NeueHaasGrotesk'; /* Replace with your font family name */
  src:
    url('./fonts/NeueHaasGroteskLight.woff') format('woff'),
    url('./fonts/NeueHaasGroteskLight.woff2') format('woff2');
  font-weight: 300; /* Light weight */
}

@font-face {
  font-family: 'NeueHaasGrotesk';
  src:
    url('./fonts/NeueHaasGroteskRegular.woff') format('woff'),
    url('./fonts/NeueHaasGroteskRegular.woff2') format('woff2');
  font-weight: 400; /* Regular weight */
}

@font-face {
  font-family: 'NeueHaasGrotesk';
  src:
    url('./fonts/NeueHaasGroteskMedium.woff') format('woff'),
    url('./fonts/NeueHaasGroteskMedium.woff2') format('woff2');
  font-weight: 500; /* Medium weight */
}

body {
  font-family: 'NeueHaasGrotesk';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f2f0;
  color: #2f2f2e;
  margin-top: auto;
  margin-top: auto;
}

.section-title {
  @apply text-sm font-medium pb-4 tracking-wide;
}

.number-large {
  @apply text-lg font-medium tracking-wide;
}

.number-small {
  @apply text-lg font-normal tracking-wide;
}

.text {
  @apply text-sm font-normal pb-1;
}
.toggle-text-large {
  @apply font-normal text-xs tracking-wide;
}
.toggle-text-small {
  @apply font-normal text-xs  tracking-wide;
}

.label {
  @apply text-xs font-normal pb-1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='range'] {
  -webkit-appearance: none;
  height: 7px;
  background: #ebe9e6;
  border-radius: 5px;
  background-image: linear-gradient(#eda540, #eda540);
  background-repeat: no-repeat;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #eda540;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
input[type='range']::-webkit-slider-thumb:hover {
  box-shadow: #eda54050 0px 0px 0px 4px;
}

input[type='range']::-webkit-slider-thumb:active {
  box-shadow: #eda54050 0px 0px 0px 4px;
  transition:
    box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    left 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
input[type='range']::-webkit-slider-thumb {
  transition: background 0.3s ease-in-out;
}
